body{
    margin:0;   
}

.my-page {
    display:flex;
    flex-direction: column;
}
.my-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.h2 {    
    color: darkslategrey;
    
}